In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('restaurent.csv')
dataset.head()

   food  decor  service  price
0  18.0   22.0     17.0   41.0
1  24.0   22.0     22.0   54.0
2  18.0   17.0     14.0   32.0
3  18.0    9.0     13.0   20.0
4  21.0   12.0     16.0   25.0